.block__wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.block {
  background-color: white;
  box-shadow: 16px 16px 47px 2px rgba(0,0,0,.07);
  padding: $space-lg;
  min-height: $space-lg;
  margin: $space auto;
  position: relative;
  margin: 0.4rem 0;
  @include media-breakpoint-down(xs) {
    padding: 1.25rem;
  }
  h1:nth-child(1),
  h2:nth-child(1),
  h3:nth-child(1) {
    margin-top: 0;
  }
}

.kb_helpers,
.block--sm {
  @extend .block;
  padding: $space;
  min-height: $space;
}

.block__content {
  margin: $space auto;
  padding: 5% 6%;
}

.block--text-white {
  * { color: white }
  a { color: white }
  a:hover,
  a:focus { color: rgba(255,255,255,.9) }
}

.block--danger {
  background-color: $brand-danger;
  @extend .block--text-white;
}

.block--warning {
  background-color: $brand-warning;
  @extend .block--text-white;
}

.block--info {
  background-color: $brand-info;
  @extend .block--text-white;
}

.block--primary {
  background-color: $brand-primary;
  @extend .block--text-white;
}

.block--success {
  background-color: $brand-success;
  @extend .block--text-white;
}

.block__main {
  @extend .block;
  text-align: left;
  padding: $space-md;
  flex-basis: 98%;
  @include media-breakpoint-up(sm) {
    flex-basis: 68%;
  }
  @include media-breakpoint-up(md) {
    flex-basis: 73%;
  }
}
