.page-home .header {
  margin-bottom: 0;
}

.home-search {
  text-align: center;
  padding: 5rem 0 4em;
  background: white;
  box-shadow: 16px 10px 27px 2px rgba(0,0,0,.07);
}

.home-categories {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.panel-heading {
  margin-top: 0;
  margin-bottom: .5em;
}

.home-search__form {
  .form-control {
    max-width: 50rem;
    margin: 2em auto 1em;
    border: 1px solid #E91E63;
    border-radius: 5em;
    padding: 1em 2em;
  }
}


.search-search__form {
  .form-control {
    max-width: 40rem;
    margin: 2em 0 1em;
    border: 1px solid #E91E63;
    border-radius: 5em;
    padding: 1em 2em;
  }
}
