.last-updated {
  color: gray;
  font-size: .8rem;
}

.page-excerpt {
  margin-bottom: 1em;
}

li.category {
  list-style: none;
}

.category ul.pages {
  margin-top: 0;
  list-style: none;
  padding: 0 .5em;
}

