@import "bootstrap/variables";
@import "variables-custom";

@import "bootstrap/mixins";

@import "bootstrap/normalize";
@import "bootstrap/print";

@import "bootstrap/reboot";
  @import "bootstrap-overrides/reboot";

@import "bootstrap/type";
  @import "bootstrap-overrides/type";

@import "bootstrap/images";
@import "bootstrap/code";

@import "bootstrap/grid";
  @import "bootstrap-overrides/grid";

@import "bootstrap/tables";
@import "bootstrap/forms";

@import "bootstrap/buttons";
  @import "bootstrap-overrides/buttons";

@import "bootstrap/transitions";
@import "bootstrap/dropdown";
@import "bootstrap/button-group";
@import "bootstrap/input-group";
@import "bootstrap/custom-forms";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/card";
@import "bootstrap/breadcrumb";
//@import "bootstrap/pagination";
@import "bootstrap/badge";
@import "bootstrap/jumbotron";
@import "bootstrap/alert";
//@import "bootstrap/progress";
@import "bootstrap/media";

@import "bootstrap/list-group";
  @import "bootstrap-overrides/list-group";

@import "bootstrap/responsive-embed";
@import "bootstrap/close";

@import "bootstrap/modal";
@import "bootstrap/tooltip";
@import "bootstrap/popover";
//@import "bootstrap/carousel";

@import "bootstrap/utilities";

@import 'components/blocks';
@import 'components/contact-form';
@import 'components/faqs';
@import 'components/footer';
@import 'components/footer-pre';
@import 'components/header';
@import 'components/helpers';
@import 'components/list-block';
@import 'components/search';

@import 'templates/home';
@import 'templates/page';
