.page__single .header {
  margin-bottom: $space-lg;
}

.page__main {
  padding-right: 0;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.page__title {
  margin-top: 0;
}

.page__meta {
  margin-top: $space-md;
  text-align: center;
}

.meta__helpful { }

.meta__updated {
  color: $gray-light;
  font-size: $font-size-sm;
}

.meta__contact {
  margin-top: $space;
}

.page__aside {
  padding: $space-lg $space $space-lg 0;
}

.nav__aside {
  list-style: none;
}

.nav__item--category {
  list-style: none;
  font-size: $font-size-xs;
  .category__title {
    font-size: $font-size-sm;
    margin: 1em 0 5px;
  }
}

.nav__item--page {
  display: none;
  margin-top: 0;
  list-style: none;
  padding: 0 $space-sm;
}

.breadcrumbs {
  margin-top: 0;
  margin-bottom: $space;
  @include media-breakpoint-up(sm) {
    margin-top: $space;
  }
}



#welcome-to-mew img {
  max-width: 250px;
  height: auto;
}


// Hide some stuff in embed mode
body.is-embedded {
  .header {
    display: none;
  }

  .footer {
    display: none;
  }
}

.dropdown {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid $white;
  padding: .3em .6rem;

  a {
    color: $black;
    outline: none;

    &:focus {
      box-shadow: none;
    }
  }

  .active {
    color: #0e97c0;
  }

  li {
    cursor: pointer;
    font-weight: 300;
    line-height: 1.4;
    padding: 0 10px;
    width: 100%;
  }
}

.languageWarn {
  background: $red;
  display: none;
  text-align: center;

  a {
    color: $white;
    text-decoration: underline;
  }
}

// Mew conenct getting started
.mewconnect-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  img {
    width: 300px;
  }

  p {
    margin-bottom: 5px;
  }

  .right-image {
    align-items: center;
    display: flex;
    justify-content: space-between;

    >:last-child {
      flex: 40;
      text-align: center;
    }

    >:first-child {
      flex: 45;
    }
  }

  >:not(:first-child) {
    margin-top: 40px;
  }

  .left-image {
    align-items: center;
    display: flex;
    justify-content: space-between;

    >:first-child {
      flex: 40;
      text-align: center;
    }

    >:last-child {
      flex: 45;
    }
  }

  >p:last-child {
    text-align: center;
  }
}

@media screen and (max-width: 640px) {
  .mewconnect-container {
    .left-image,
    .right-image {
      flex-direction: column;
    }
  }
}
