<main class="modal fade" id="search-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <section class="modal-dialog" role="document">

    <button type="button" class="close modal__close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>

    <div class="modal-content" style="padding: 1rem">
      <div class="row">

        <div class="col col-sm-6 col-12">
          <h6>FIELDS</h6>
          <p class="small">
            The following example searches for the term “foo” in the specified field:
            <br />
            <code>title:foo</code> or <code>url:bar</code> or <code>content:baz</code>
          </p>
        </div>

        <div class="col col-sm-6 col-12">
          <h6>WILDCARDS</h6>
          <p class="small">
            A wildcard is represented as an asterisk (*) and can appear anywhere in a search term. The following will match all documents with words beginning with “foo” or ending with "oo":
            <br />
            <code>foo*</code> or <code>*oo</code>
          </p>
        </div>

        <div class="col col-sm-6 col-12">
          <h6>BOOSTS</h6>
          <p class="small">
            In multi-term searches, a single term may be important than others. Any article that matches a boosted term will get a higher relevance score, and appear higher up in the results. The first example weights the term “foo” 10 times higher than the term “bar”:
            <br />
            <code>foo^10 bar</code> or <code>foo^10 bar^5 baz</code>
          </p>
        </div>

        <div class="col col-sm-6 col-12">
          <h6>FUZZY MATCHES</h6>
          <p class="small">
            Can be helpful if the spelling of a term is unclear, or to increase the number of search results that are returned. The following search matches articles that have a word within 1 edit distance of “foo”:
            <br />
            <code>foo~1</code>
            <br />
            An edit distance of 1 allows words to match if either adding, removing, changing or transposing a character in the word would lead to a match. For example “boo” requires a single edit (replacing “f” with “b”) and would match, but “boot” would not as it also requires an additional “t” at the end.
          </p>
        </div>

      </div>
    </div>

  </section>
</main>
