<!-- Header -->
<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <a class="brand" href="{{base_url}}" aria-label="Go to homepage">
          <img src="{{base_url}}images/logo.svg" height="64px" width="245px" alt="MyEtherWallet" alt="MyEtherWallet Support">

        </a>
      </div>
      <!--
      <div class="col-sm-6">
        <form class="search-form form-inline pull-right" action="/">
          <div class="form-group">
            <label class="sr-only" for="search">Search</label>
            <input type="search" class="form-control" name="search" id="search" size="30" value="Search" placeholder="Search">
          </div>
        </form>
      </div>
      -->
    </div>
  </div>
</header>
