<!-- Header -->
<header class="header">
  <div class="languageWarn" id="languageWarn">
    <span id="redWarning"> Not all articles have been translated! Wanna help? </span> <a href="https://github.com/MyEtherWallet/knowledge-base/blob/devop/add-translations/adding-translations.md" id="redWarningLink"> Click here to learn how! </a>
  </div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-6">
        <a class="brand" href="{{base_url}}" aria-label="Go to homepage">
          <img src="{{base_url}}images/logo.svg" height="64px" width="245px" alt="MyEtherWallet" alt="MyEtherWallet Support">
        </a>
      </div>
      <div class="col-sm-4 search__form">
        <div class="input-group">
          <input class="search__input form-control" type="search" name="search" size="50" placeholder="Search">
          <span class="input-group-btn">
            <button class="search__button btn btn-primary">Search</button>
          </span>
        </div>
      </div>
      <div class="col-sm-2" style='text-align: right;'>
        <span class="dropdown dropdown-lang" onclick="displayOptions()" onfocusout="displayOptions()">
          <a id="currentLang" tabindex="0" aria-haspopup="true" aria-expanded="false" aria-label="change language. current language" class="dropdown-toggle btn btn-white"><i class="caret"></i></a>
          <ul class="dropdown-menu" id="languagesDropdown">
          </ul>
        </span>
      </div>
    </div>
  </div>
</header>



<main class="result__outer container" style="display: none;">
  <button type="button" class="close search__clear" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
  <section class="block">
    <h4 class="search__error text-danger text-center" role="alert" style="display:none"></h4>
    <!--googleoff: all-->
    <noindex>
      <h4 class="search__success text-success text-center robots-nocontent" role="alert" style="display:none" rel="noindex"></h4>
    </noindex>
    <!--googleon: all-->
    <div class="result__wrapper"></div>
  </section>
</main>
