<!-- Header -->
<header class="header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-6">
        <a class="brand" href="{{base_url}}" aria-label="Go to homepage">
          <img src="{{base_url}}images/logo.svg" height="64px" width="245px" alt="MyEtherWallet" alt="MyEtherWallet Support">
        </a>
      </div>
      <div class="col-sm-3 offset-sm-3">
      <span class="dropdown dropdown-lang" onclick="displayOptions()" onfocusout="displayOptions()">
        <a id="currentLang" tabindex="0" aria-haspopup="true" aria-expanded="false" aria-label="change language. current language" class="dropdown-toggle btn btn-white"><i class="caret"></i></a>
        <ul class="dropdown-menu" id="languagesDropdown">
        </ul>
      </span>
      </div>
    </div>
  </div>
</header>

<script>
  let dropdown = false;
  const currentLang = document.getElementById('currentLang');
  const select = document.getElementById('languagesDropdown');
  const languages = ['Japanese', 'Korean', 'Russian', 'English'];
  const displayOptions = () => {
    let slow;
    if(!dropdown) {
      select.style.display = 'block';
    } else {
      slow = setTimeout(function () {
        select.style.display = 'none';
      }, 200);
    }
    dropdown = !dropdown
  }

  const selectLanguage = (e) => {
    currentLang.textContent = e.target.innerHTML;
    localStorage.setItem('currentLang', e.target.innerHTML);
    dropdown = !dropdown;
  }

  if(localStorage.getItem('currentLang') !== null) {
    currentLang.textContent = localStorage.getItem('currentLang');
  } else {
    localStorage.setItem('currentLang', 'English');
    currentLang.textContent = 'English';
  }

  languages.forEach(language => {
    let option = document.createElement('li');
    if(language === currentLang.innerHTML) {
      option.setAttribute('class', 'active');
    }
    option.addEventListener("click", selectLanguage, false);
    option.textContent = language;
    select.appendChild(option);
  });

</script>
