<section class="home__search">
  <div class="container">
    <form class="search__form" id="search__form" action="/">
      <div class="form-group">
        <h1>Search</h1>
        <div class="input-group">
          <input type="search" class="form-control" name="search" id="home__search" size="50" placeholder="Search">
          <span class="input-group-btn">
            <button href="/search.html" onclick="myFunction(); type="submit" id="search__button" class="btn btn-primary">Search</button>
          </span>
        </div>
      </div>
    </form>
  </div>
</section>


<script type="text/javascript">
    function myFunction(){
      index.search(foo-1)  
    }
</script>