{{> head
    title        = 'Form'
    cat_title    = 'Contact'
    description  = 'Fill out this form to get help with whatever issue you are having. We do our best to respond within 72 hours.'
    short_desc   = 'get help with whatever issue you are having. We do our best to respond within 72 hours.'
    slug         = ''
    origin       = 'origin'
}}

<body class="home">

{{> schema-org}}

{{> header}}

<!-- Help Form-->
<main class="container">

  <section class="container--kb-form">

      <form
        method="POST"
        name="fa-form-1"
        id="fa-form-1"
        action=""
        enctype="multipart/form-data"
        accept-charset="utf-8"
      >


        {{> form-main}}

        <!-- Send Button -->
        <br />
        <main class="container-md">
          <section class="form-group row">
            <div class="offset-sm-2 col-sm-10">
              <button id="help-form--btn" class="btn btn-primary">
                Send message
              </button>
            </div>
            <br /><br />
            <div class="offset-sm-2 col-sm-10">
              Or email us at <a id="toEmail" href="mailto:support@myetherwallet.com">support@myetherwallet.com</a>
            </div>
          </section>
        </main>

      </form>

  </section>

</main>

{{> index-blocks}}

{{> footer}}

</body>

</html>

