<div class="home__search row">
  <form class="search__form" action="{{config.base_url}}/">
    <div class="form-group">

      <h1>{{message}}</h1>
      <p>{{status}}</p>

      <div class="input-group">
        <input type="search" class="form-control" name="search" id="home__search" size="50" placeholder="Search...">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary">Search</button>
        </span>
      </div>

      <br /><br /><br />

      <a href="{{config.base_url}}/"> ...or return home to try again 😉 </a>

    </div>
  </form>
</div>
