{{> head
    title        = 'Form'
    cat_title    = 'Contact'
    description  = 'Fill out this form to get help with whatever issue you are having. We do our best to respond within 72 hours.'
    short_desc   = 'get help with whatever issue you are having. We do our best to respond within 72 hours.'
    slug         = ''
    origin       = 'origin'
}}

<body class="body__form">

{{> schema-org}}

<form
  method="POST"
  name="fa-form-1"
  id="fa-form-1"
  action=""
  enctype="multipart/form-data"
  accept-charset="utf-8"
>
  {{> form-main}}
  <!-- Send Button -->
  <section class="modal__send">
    <button id="help-form--btn" class="btn btn-primary btn-lg">
      Send message
    </button>
  </section>
</form>

</body>

</html>
