{{> head cat_title='Knowledge Base' title='Home'}}

<body class="home">

{{> schema-org}}

{{> header}}

{{> form-response}}

{{> search}}

{{> faqs}}

{{> list-block}}

{{> footer-pre}}

{{> footer}}

</body>

</html>
