<!-- Main -->
<div class="row">

  <main class="search__main content col-sm-9">

      <h1 class="search__main-title"><small>{{lang.search.resultsFor}}:</small> {{search}}</h1>

      {{#searchResults.length}}
        {{#searchResults}}
          <div class="block block__search">

            <h3 class="search__title">
              <a href="{{config.base_url}}/{{slug}}">{{title}}</a>
            </h3>

            <div class="search__excerpt">{{{excerpt}}}</div>

            <a class="btn btn-danger btn-xs search__more" href="{{config.base_url}}/{{slug}}">Read More</a>

          </div>
        {{/searchResults}}
      {{/searchResults.length}}


      {{^searchResults.length}}
        <div class="row block">
          <form class="search-search__form" action="{{config.base_url}}/">
            <div class="form-group">
              <h2 class="nothing-found">{{lang.search.noResultsFor}} "{{search}}"</h2>
              <div class="input-group">
                <input type="search" class="form-control" name="search" id="home__search" size="50" placeholder="{{lang.home.searchKnowledgeBase}}">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-primary">{{lang.global.search}}</button>
                </span>
              </div>
            </div>
          </form>
        </div>
      {{/searchResults.length}}

  </main>


  <aside class="page__aside col-sm-3">

    <ul class="nav__aside">
      {{#pages}}
        <li class="nav__item--category">
          {{^is_index}}
            <a href="{{config.base_url}}/{{slug}}" class="{{slug}}">
              <h5 class="category__title">{{title}}</h5>
            </a>
          {{/is_index}}
          <ul class="nav__item--page">
            {{#files}}
              <li class="page{{#active}} active{{/active}}">
                {{^active}}<a href="{{config.base_url}}/{{slug}}">{{/active}}
                  {{title}}
                {{^active}}</a>{{/active}}
              </li>
            {{/files}}
          </ul>
        </li>
      {{/pages}}
    </ul>

  </aside>


</div>


