<div class="row">

  <main class="col-sm-9 page__main content">

      <nav class="breadcrumbs">
        <a class="breadcrumbs__home" href="{{config.base_url}}">Home</a>
        ›
        <a class="breadcrumbs__category" href="{{config.base_url}}/{{slug}}">{{meta.category}}</a>
        ›
        <span class="breadcrumbs__category">{{#meta.title}}{{meta.title}}{{/meta.title}}</span>
      </nav>

      <article class="block block__content clearfix">
        {{#meta.title}}
          <h1 class="page__title">{{meta.title}}</h1>
        {{/meta.title}}

        {{{content}}}
      </article>

      <section class="page__meta row">
        <div class="meta__helpful col-sm-6">
          {{lang.page.useful}} &nbsp;&nbsp;
          <a href="#"> {{lang.page.useful_0}} </a>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a href="#"> {{lang.page.useful_5}} </a>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a href="#"> {{lang.page.useful_9}} </a>
        </div>

        <time class="meta__updated col-sm-6 text-right">
          <p>{{lang.global.lastUpdated}} {{last_modified}}</p>
        </time>

        <div class="meta__contact col-xs-12">
          <p>{{lang.page.needHelp}} <a href="mailto:{{config.support_email}}">{{lang.page.getInTouch}}</a></p>
        </div>

    </section>

  </main>



  <aside class="page__aside col-sm-3">

    <ul class="nav__aside">
      {{#pages}}
        <li class="nav__item--category">
          {{^is_index}}
            <a href="{{config.base_url}}/{{slug}}" class="{{slug}}">
              <h5 class="category__title">{{title}}</h5>
            </a>
          {{/is_index}}
          <ul class="nav__item--page">
            {{#files}}
              <li class="page{{#active}} active{{/active}}">
                {{^active}}<a href="{{config.base_url}}/{{slug}}">{{/active}}
                  {{title}}
                {{^active}}</a>{{/active}}
              </li>
            {{/files}}
          </ul>
        </li>
      {{/pages}}
    </ul>

  </aside>



</div>
