<div class="row">
  <div class="col-sm-3 hidden-xs">

    <ul class="menu">

      {{#pages}}
        <li class="category">
          {{^is_index}}
            <h5 class="category-title {{slug}}">{{title}}</h5>
          {{/is_index}}
          <ul class="pages">
            {{#files}}
              <li class="page{{#active}} active{{/active}}">
                {{^active}}<a href="{{config.base_url}}/{{slug}}">{{/active}}
                  {{title}}
                {{^active}}</a>{{/active}}
              </li>
            {{/files}}
          </ul>
        </li>
      {{/pages}}
    </ul>
  </div>

  <div class="col-sm-9">

    <section class="content">

      <p>
        <a href="{{config.base_url}}">Home</a>
        ›
        <a href="{{config.base_url}}/{{meta.slug}}">{{meta.category}}</a>
        ›
        {{#meta.title}}{{meta.title}}{{/meta.title}}
      </p>

      <article class="block block__header clearfix">
        {{#meta.title}}
          <h1 class="title">{{meta.title}}</h1>
        {{/meta.title}}
      </article>

      <article class="block block__content clearfix">
        {{{content}}}
      </article>

      <section class="page-meta clearfix">
        <p>
          {{lang.page.useful}} &nbsp;&nbsp;
          <a href="#"> {{lang.page.useful_0}} </a>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a href="#"> {{lang.page.useful_5}} </a>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a href="#"> {{lang.page.useful_9}} </a>
        </p>

        <div class="row">
          <div class="contact-support col-sm-6">
            <p>{{lang.page.needHelp}} <a href="mailto:{{config.support_email}}">{{lang.page.getInTouch}}</a></p>
          </div>

          <div class="last-updated col-sm-6 text-right">
            <p>{{lang.global.lastUpdated}} {{last_modified}}</p>
          </div>
        </div>

      </section>

    </section>

  </div>
</div>
